.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.page__main {
    flex-grow: 1;
}

.page__inner{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 31% 57% 11%;
    grid-template-areas: 
    "header header header"
    "aside main ."
    "footer footer footer"; 
    background-color: var(--grey-5);
}