.avatar{
    display: inline-block;
    width: 102px;
    height: 102px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .avatar__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }