@import '../fonts/fonts.css';


:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --blue-2: #4263EB;
    --blue-3: #2342C0;
    --blue-4: #5028C6;
    --blue-5: #A0B1F5;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #F9FAFC;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--grey-3);
    --secondary: var(--purple);
}

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    min-height: 100vh;
}