.radio {
    display: inline-flex;
    position: relative;
}
  
.radio__input{
    position: absolute;
    width: 0;
    height: 0;
    transform: translateX(-100vw);
}
  
.radio__state{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}
  
.radio__control{
    width: 28px;
    height: 28px;
    border: 2px solid #DDE2E5;
    border-radius: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    background: #fff;
}
  
.radio__icon{
    width: 18px;
    height: 18px;
    border-radius: 50px;
}
  
.radio__title{
    color: #495057;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}
  
.radio__input:checked ~ .radio__state .radio__control .radio__icon{
    background: blue;
    border-color: 2px solid blue;
}
  
.radio__input:checked ~ .radio__state .radio__control{
    border-color: blue;
}
  
  
.radio__input:focus ~ .radio__state .radio__title{
    text-decoration: underline;
}
  
.radio__input:disabled ~ .radio__state .radio__control{
    background: #DDE2E5;
}
  
.radiobutton{
    display: inline-flex;
    gap: 10px;
}
