.skeleton {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 24px 40px 32px 24px;
}

.skeleton__header {
    display: flex;
    gap: 16px;
}

.skeleton__ellipse {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color: var(--grey-2);
    flex-shrink: 0;
}

.skeleton__title {
    flex-basis: 100%;
}

.skeleton__rectangle {
    height: 20px;
    background-color: var(--grey-2);
    max-width: 100%;
    margin-bottom: 8px;
}

.skeleton__rectangle_small {
    max-width: 30%;
}

.skeleton__rectangle_medium {
    max-width: 50%;
}

.skeleton__footer {
    padding-top: 24px;
}


.skeleton__rectangle:last-child {
    margin-bottom: 0;
}


